<h2>New Trip</h2>

<%= form_for @itinerary, url: user_itineraries_path, method: :post do |f| %>
  <div class="field">
    <%= f.text_field :trip_title, placeholder: "Title" %>
  </div>
  <div class="field">
    <%= f.label :datestart, "Date Start" %>:
    <%= f.date_field :datestart %>
  </div>
  <div class="field">
    <%= f.label :dateend, "Date End" %>:
    <%= f.date_field :dateend %>
  </div>
  <div class="actions">
    <%= f.submit "Create Trip", class: 'btn btn-sm btn-primary' %>
  </div>
<% end %>