<h2><%=@itinerary.trip_title%></h2>
<h5><strong>Trip Date:</strong> <%= @itinerary.datestart.strftime("%m/%d/%Y") %> - <%= @itinerary.dateend.strftime("%m/%d/%Y") %></h5>
<% if @itinerary.users.include?(current_user) %>
  <%=link_to "Plan A Day", new_itinerary_day_path(@itinerary), class: "btn btn-sm btn-primary" %>
  <%= link_to "Add More Images", new_itinerary_image_path(@itinerary), class: "btn btn-sm btn-primary" %>
<% end %>
<div class="container">
  <div class="row">
    <h3>Images</h3>
    <% if @itinerary.images %>
      <div class="col">
        <% @itinerary.images.each do |image| %>
          <%if !image.url.empty? %><%= link_to image_tag("#{image.url}", class: "img-thumbnail pic-thumbnail"), image.url %><% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="container">
  <% if @days %>
    <% @days.each do |day| %>
      <div class="row" >
        <h3><%= link_to "#{day.title} - #{day.date.strftime("%m/%d/%Y")}", itinerary_day_path(@itinerary, day) %></h3>
        <% if @itinerary.users.include?(current_user) %>
          <%=link_to "Edit", edit_itinerary_day_path(@itinerary, day), class: "btn btn-sm btn-primary" %>
          <%= link_to "Delete", itinerary_day_path(@itinerary, day), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-primary" %>
          <%= link_to "Add Activity", "#", class: "btn btn-sm btn-primary" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>