<h2><%=@itinerary.trip_title%></h2>
<h5><strong>Trip Date:</strong> <%= @itinerary.datestart.strftime("%m/%d/%Y") %> - <%= @itinerary.dateend.strftime("%m/%d/%Y") %></h5>
<%=link_to "Add Day", new_itinerary_day_path(@itinerary), class: "btn btn-sm btn-primary" %><br><br>

<div class="container">
  <% if @days %>
    <% @days.each do |day| %>
      <div class="row">
        <h3><%=day.title %></h3>
        <%= link_to "Add Activity", "#" %>
      </div>
    <% end %>
  <% end %>
</div>