<ol class="breadcrumb text-center" style="margin-top: 20px ">
  <li class="breadcrumb-item active"><%= link_to "Latest Updates", welcome_path %></a></li>
  <li class="breadcrumb-item in-active"><%= "#{@user.firstname}'s Page" %></li>
  <li class="breadcrumb-item active"><a href="#" class="js-next" data-id="<%=@user.id%>"> Next User >></a></li>
</ol>

<div class="container">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
      <div class="text-center">
        <h2 class="tripsHeader">Upcoming Trips</h2><br>
      </div>
      <div class="text-center tripsList">
      <% if @upcoming_trips %>
          <% @upcoming_trips.each do |itinerary| %>
            <h4><%= link_to "#{itinerary.datestart.strftime("%m/%d/%Y")} - #{itinerary.trip_title}", user_itinerary_path(current_user, itinerary) %>
            <% if @user == current_user %>
              <strong><%= link_to '<i class="fas fa-times"></i>'.html_safe, user_itinerary_path(@user, itinerary), method: :delete, data: {confirm: "Are you sure you want to delete?"} %></strong></h4><br>
            <% else %>
            <br><br>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <p>You haven't made any plans yet!</p>
      <% end %>
    </div>
  </div>
</div>