<div class="field">
  <%= f.text_field :title, placeholder: "ie. Day One"%>
</div>
<div class="field">
  <%= f.date_field :date %>
</div>
<br>
<div class="actions">
  <%= f.submit "Add New Day", class: 'btn btn-sm btn-primary' %>
</div>

<br>
<% if !@errors.nil? %>
  <div class="error">
      <label><%= pluralize(@errors.count, "error") %> prohibited this pin from
      being saved:</label>
    <ul>
      <% @errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>  
  </div>  
<% end %>