<ol class="breadcrumb text-center" style="margin-top: 20px ">
  <li class="breadcrumb-item active"><%= link_to @day.itinerary.trip_title, itinerary_path(@day.itinerary) %></a></li>
  <li class="breadcrumb-item in-active"><%= @day.title %></li>
</ol>

<h2><%= @day.title %> (<%= @day.date %>)</h2>

<div class="dayActivities">
  <% @day.activities.each do |a| %>
    <ul>
      <h3><%= a.title %></h3>
      <li><strong>Activity Type: </strong>
        <% if !a.categories.empty? %>
          <% a.categories.each do |c| %>
            <%= c.name %><%=list_helper(c, a)%>
          <% end %>
        <% end %>
      <li><strong>Address: </strong><%= a.address %></li>
      <li><strong>URL: </strong><%= a.url %></li>
      <li><strong>Notes: </strong><%= a.notes %></li>
    </ul>
  <% end %>
</div>
