<div class="container add-pad" style="padding-top:20px">
  <div class="row">
    <div class="col-xs-6 corner-logo-2">
      <a href="/">WANDERLUST</a>
    </div>
    <div class="col-xs-6 signin text-right navbar-nav-2">
      <%= link_to "Sign Up", register_path %>&nbsp; &nbsp;<%=link_to "Sign In", login_path %>
    </div>
  </div>
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
