<div class="row">
  <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
</div>
<br>
<div class="row">
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
  <%= f.fields_for :categories, @activity.categories.build do |categories_fields| %>
    <%= categories_fields.text_field :name, placeholder: "Category ie. Food or Activity", class: "form-control" %>
  <% end %>
</div>
<br>
<div class="row">
  <%= f.text_field :address, placeholder: "Address", class: "form-control" %>
</div>
<br>
<div class="row">
  <%= f.text_field :url, placeholder: "URL", class: "form-control" %>
</div>
<br>
<div class="row">
  Notes:<br><%= f.text_area :notes, class: "form-control" %>
</div>
<br>
<div class="actions">
  <%= f.submit submit_text, class: 'btn btn-sm btn-primary' %>
</div>

<br>
<% if !@errors.nil? %>
  <div class="error">
      <label><%= pluralize(@errors.count, "error") %> prohibited this pin from
      being saved:</label>
    <ul>
      <% @errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>  
  </div>  
<% end %>