<ol class="breadcrumb text-center" style="margin-top: 20px ">
  <li class="breadcrumb-item active"><%= link_to @itinerary.trip_title, itinerary_path(@itinerary) %></a></li>
  <li class="breadcrumb-item in-active"><%= @activity.day.title %> - <%= @activity.day.date.strftime("%m/%d/%Y")%>
</ol>

<div class="form-container text-center activity-show">
  <h2><%= @activity.title %></h2><br>
  <strong>Activity Type: </strong><%= @activity.activity_type %><br><br>
  <strong>Address: </strong><%= @activity.address %><br><br>
  <strong>URL: </strong><%= @activity.url %><br><br>
  <strong>Notes: </strong><%= @activity.notes %><br><br>

  <% if @user == current_user %>
    <%=link_to '<i class="fas fa-edit"></i>&nbsp;Edit'.html_safe, edit_activity_path(@activity), class: "btn btn-md" %>
    <%= link_to '<i class="fas fa-trash-alt"></i>&nbsp;Delete'.html_safe, activity_path(@activity), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-md" %>
  <% end %>
</div>