<ol class="breadcrumb text-center" style="margin-top: 20px ">
  <li class="breadcrumb-item active"><%= link_to @itinerary.trip_title, itinerary_path(@itinerary) %></a></li>
  <li class="breadcrumb-item in-active"><%= @activity.day.title %> - <%= @activity.day.date.strftime("%m/%d/%Y")%>
</ol>

<h2><%= @activity.title %></h2>
<ul>
  <li><strong>Activity Type: </strong><%= @activity.activity_type %></li>
  <li><strong>Address: </strong><%= @activity.address %></li>
  <li><strong>URL: </strong><%= @activity.url %></li>
  <li><strong>Notes: </strong><%= @activity.notes %></li>
</ul>

<% if @user == current_user %>
  <div class="container buttons">
    <%=link_to "Edit", edit_activity_path(@activity), class: "btn btn-sm btn-primary" %>
    <%= link_to "Delete", activity_path(@activity), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-primary" %>
  </div>
<% end %>