<h2>New Trip</h2>

<%= form_for @itinerary, url: itineraries_path, method: :post do |f| %>
  <div class="field">
    <%= f.text_field :trip_title, placeholder: "Title" %>
  </div>
  <div class="field">
    <%= f.label :datestart, "Date Start" %>:
    <%= select_date Date.today, prefix: :datestart %>
  </div>
  <div class="field">
    <%= f.label :dateend, "Date End" %>:
    <%= select_date Date.today, prefix: :dateend %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field, value: @itinerary.id %>
  <div class="actions">
    <%= f.submit "Create Trip", class: 'btn btn-sm btn-primary' %>
  </div>
<% end %>