<!DOCTYPE html>
<html>
  <head>
    <title>Wanderlust</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,600,700' rel='stylesheet' type='text/css'>

    <%= csrf_meta_tags %>
  </head>

  <body="page-top">
    <div id="notice">
      <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>  
    </div>
    <div class="container" style="padding-top:20px">
      <div class="row">
        <div class="col-xs-6 corner-logo-2">
          <a href="/welcome">WANDERLUST</a>
        </div>
        <div class="col-xs-6 signin text-right navbar-nav-2">
          <% if user_signed_in? %>
            <%=link_to current_user.firstname, user_path(current_user) %>&nbsp; &nbsp;<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          <% else %>
             <%= link_to "Sign Up", register_path %>&nbsp; &nbsp;<%=link_to "Sign In", login_path %>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>